/* CUSTOM CSS STYLES */

/* Pagina principal */
body {
}


/* Cabecera */

.top-header_padding {
    padding-top: 10px;
}

.top-header_logo {
    padding-top: 5px;
    padding-bottom: 5px;
    max-width: 15%;
    height: auto;
}

.top-header_search {
    max-width: 535px;
}

.top-header_button {
    margin-left: -26px;
}

.top-header {
    border-bottom: 0;
    margin-bottom: 0;
}

.top-header_font {
    color: #fff;
}

.top-header_color {
    background: #0B2B40;
}


/* Barra lateral izquierda */

.left-sidebar_item {
    padding: 5px;
    color: #fff;
}

.left-sidebar_color {
    background-color: #3D5A73;
}


/* Contenido */

.content_avatar {
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    max-width: 40%;
    height: auto;
}

.content_avatar-mini {
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 5px;
    max-width: 15%;
    height: auto;
}

.content_position-center {
    display: flex;
    justify-content: center;
}

.content_font-bold {
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
}

.content_panel-color {
    background: #D1E5F5;
}

.content_panel-font {
    color: white;
}

.content_size-dropdownlist {
    width: 183px;
    height: 26px;
}

.right-sidebar_size-button {
    width: 84px;
}

.button_position {
    display: flex;
    height: 130px;
    justify-content: right;
    align-items: center;
}


/* Footer */

.bottom-footer_color {
    background: #0B2B40;
}

.bottom-footer_font {
    color: white;
}